@model DemoWithDiagnostics.Controllers.TestResult[]

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <style type="text/css" >
           
            .tests { }

            .test.true { color: green; }
            .test.false { color: red; }

            .test {
                border-bottom: solid grey 1px;
            }
            div.test > div {
                display: inline-block;
                margin: 10px; 
            }
            .test > .name { width: 10%; vertical-align: top; }
            .test > .message { width: 70%; }
            .test > .duration { width: 10%; vertical-align: top; }

        </style>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <div class="tests">
             @foreach (var result in ViewData.Model)
             {
                 <div class="test @result.WasSuccessful.ToString().ToLower()">
                     <div class="name">@result.Name</div>
                     
                     <div class="message">@result.Message</div>
                     <div class="duration">@result.Duration <span>ms</span></div>
                 </div>
             }
            </div>
        </div>
    </body>
</html>